doctype html
html
  head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
  body
    div.roomList
      each r in rooms
        div.room
          p.roomName #{r.name}
          a.link(href=`/${r.name}`) Join

    input.name(placeholder='Room name')
    button.create(type='button') Create new Room

    .logout.logout_style Log out

    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='../js/script.js')
