doctype html
html
  head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
  body
    .chat
      ul.chat__meassage-area
      form.chat__form(autocomplete='off')
        textarea.chat__text(name='text', placeholder='Type your message')
        button.chat__send(type='button') Send
    .logout.logout_style Log out
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='../js/script.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
