module.exports = {
    app: {
        port: 3000
    },
    jwt: {
        secret: 'secret'
    },
    database: {
        uri: 'mongodb://localhost:27017/test',
        options: {
            useNewUrlParser: true,
            useUnifiedTopology: true 
        }
    }
}
